{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Original Aruco board generator</h1>
    <p class="lead">TODO add marker generator</a>.</p>


    <div class="row">
        <!-- Advanced parameters -->
        <div class="col d-flex flex-column ">
            <h6 class="mb-2"><i class="fa-solid "></i>Advanced params</h6>
            <p class="m-10">
                <input type="checkbox" id="advanced_par_checkbox">
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h5><i class="fa-solid "></i> Select marker library</h5>
            <p class="cool-input">
                <select id="dict-combobox" onchange="updateData()">
                    {% for fiducialLib in fiducialLibs %}
                    <option value="{{ fiducialLib }}">{{ fiducialLib }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>

        <div class="col">
            <h5><i class="fa-solid "></i>N size</h5>
            <p>
                <input type="number" id="n_input" class="cool-input" placeholder="N size" value="2" min="1" max="100" onchange="updateData()">
            </p>
        </div>

        <div class="col">
            <h5><i class="fa-solid "></i>M size</h5>
            <p>
                <input type="number" id="m_input" class="cool-input" placeholder="M size" value="2" min="1" max="100" onchange="updateData()">
            </p>
        </div>

        <div class="col">
            <h5><i class="fa-solid "></i>Length</h5>
            <p>
                <input type="number" id="length_input" class="cool-input" placeholder="marker length" value="0.5" step="0.1" min="0" max="100" onchange="updateData()">
            </p>
        </div>

        <div class="col">
            <h5><i class="fa-solid "></i>Separation</h5>
            <p>
                <input type="number" id="separation_input" class="cool-input" placeholder="marker separation " value="0.5" step="0.1" min="0" max="100" onchange="updateData()">
            </p>
        </div>



    </div>

    <div id="advanced_par_container" style="display:none;">
        <div class="row">


            <!-- Separate each element into its own column -->
            <div class="col">
                <h5><i class="fa-solid "></i>Resolution</h5>
                <p>
                    <input type="number" id="board_resolution_input" class="cool-input" placeholder=" " value="300" step="10" min="100" max="3000" onchange="updateData()">
                </p>
            </div>

            <div class="col">
                <h5><i class="fa-solid "></i>Margin size</h5>
                <p>
                    <input type="number" id="board_margin_size_input" class="cool-input" placeholder=" " value="100" step="10" min="10" max="1000" onchange="updateData()">
                </p>
            </div>

            <div class="col">
                <h5><i class="fa-solid "></i>Border bit input</h5>
                <p>
                    <input type="number" id="border_bit_input" class="cool-input" placeholder=" " value="1" step="1" min="0" max="10" onchange="updateData()">
                </p>
            </div>

        </div>
    </div>


     <!-- Image display section -->
    <div class="row mt-4">
        <div id="image-container" class="col text-center">
            <h4>Generated Image</h4>
            <div id="curly-brace-top">
                <div id="left-top" class="brace"></div>
                <div id="right-top" class="brace"></div>
            </div>
            
            <img id="outputImage" src="" alt="Generated Image" class="generated-image">
            
            <div id="curly-brace-bottom">
                <div id="left-bottom" class="brace"></div>
                <div id="right-bottom" class="brace"></div>
            </div>

        </div>
    </div>



</div>

<style>
    #image-container {
        position: relative;
        display: inline-block;
    }


    .generated-image {
        max-height: 600px; /* Adjust the maximum height as needed */
        width: auto; /* Let the width adjust proportionally based on the image's aspect ratio */
        max-width: 100%; /* Limit the width to the container's width if the image height exceeds the maximum height */
        display: block; /* Remove any potential vertical alignment issues */
        margin: 0 auto; /* Center the image horizontally within its container */

        /* Add a cool frame around the image */
        border: 10px solid #5c5c5c; /* Adjust the border width and color */
        border-radius: 15px; /* Adjust the border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect for a cool look */
    }
   
</style>


<script>

    document.getElementById('advanced_par_checkbox').addEventListener('change', function() {
        var advanced_par_container = document.getElementById('advanced_par_container');
        if (this.checked) {
            advanced_par_container.style.display = 'block';
        } else {
            advanced_par_container.style.display = 'none';
        }
    });


    async function updateData() {
        try {
            var selectDict = document.getElementById('dict-combobox').value;
            var n_value = document.getElementById('n_input').value;
            var m_value = document.getElementById('m_input').value;
            var length_value = document.getElementById('length_input').value;
            var separation_value = document.getElementById('separation_input').value;
            var board_resolution_value = document.getElementById('board_resolution_input').value;
            var board_margin_size_value = document.getElementById('board_margin_size_input').value;
            var border_bit_value = document.getElementById('border_bit_input').value;
     
            var data = {
                select_dict: selectDict,
                n_input: n_value,
                m_input: m_value,
                length: length_value,
                separation: separation_value,
                board_resolution: board_resolution_value,
                board_margin_size: board_margin_size_value,
                border_bit: border_bit_value,
            };

            const response = await fetch("/original/update_data", {
                method: "POST",
                cache: "no-cache",
                mode: "cors",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (!response.ok) {
                throw new Error(`HTTP error!!! status: ${response.status}`);
            }

            const jsonData = await response.json();
            console.log(jsonData.image_url)
            // Update the src attribute of the img tag with the new image URL
            const timestamp = new Date().getTime();
            document.getElementById('outputImage').src = jsonData.image_url + '?t=' + timestamp;
            var image = document.getElementById('outputImage');
            adjustBraces(image);


        } catch (error) {
            console.error('Error:', error);
        }
    }

    function adjustBraces(image) {
        var width = image.offsetWidth;
        var topBrace = document.getElementById('curly-brace-top');
        var bottomBrace = document.getElementById('curly-brace-bottom');
        topBrace.style.width = bottomBrace.style.width = width + 'px';
    }
    
    // Call updateData when the page loads
    window.onload = updateData;
    advanced_par_container.style.display = 'none';
</script>

{% endblock %}
