/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.resized-image {
  width: 300px; /* Change this value to set the fixed width you desire */
  height: auto;
}

/* Adjust image size for screens between 992px and 1200px */
@media (max-width: 1200px) {
  .resized-image {
    width: 250px; /* Adjust the width for medium-sized screens */
  }
}

/* Adjust image size for screens between 768px and 992px */
@media (max-width: 992px) {
  .resized-image {
    width: 200px; /* Adjust the width for smaller screens */
  }
}

/* Adjust image size for screens smaller than 768px */
@media (max-width: 768px) {
  .resized-image {
    width: 150px; /* Adjust the width for extra small screens */
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}


